h2{
    color:green;
}
body{
   background:url(https://getwallpapers.com/wallpaper/full/0/6/7/845151-best-1080p-wallpapers-1920x1080-large-resolution.jpg);
   background-repeat: no-repeat;
   background-size:cover ;
}